{% load crispy_forms_tags %}

<h1>Comentarios</h1>
<div class="row">
  <form method="POST" class="comment-form">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Save</button>
  </form>
</div>

<div class="row">
  {% for comment in comments %}
    <p>{{ comment.created_date }}</p>
    <p>{{ comment.text }}</p>
    <div>
        <a data-id="{{ comment.pk }}" href="#" class="like glyphicon glyphicon-thumbs-up"></a> 
        <span id='likecounter_{{ comment.pk }}'>{{ comment.likes }}</span>
        |
        <a data-id="{{ comment.pk }}" href="#" class="dislike glyphicon glyphicon-thumbs-down"></a>
        <span id='dislikecounter_{{ comment.pk }}'>{{ comment.dislikes }}</span>
    </div>
  {% endfor %}
</div>